# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/

# Python
__pycache__/
*.pyc
venv/
env/
.env

# Archivos de datos locales (NUNCA subir CSVs crudos a Git)
*.csv
!seeds/*.csv
*.gz